* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ded8d8;
    padding-top: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

header h1 {
    color: darkred;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 98px);
    background: #f2f2f2;
    padding: 20px;
}

/* elimino bordo sui button quando hanno il focus */
input:focus, button:focus {
    outline: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.hidden {
    display: none
}

#add-todo-input {
    font-size: 18px;
    padding: 5px 5px;
    width: 300px;
    border-style: none;
    border-radius: 5px;
    border: 1px solid lightgray;
}

#add-todo-button {
    cursor: pointer;
    background-color: coral;
    color: white;
    font-size: 18px;
    padding: 5px 8px;
    width: 120px;
    border-style: none;
    border-radius: 5px;
    border: 1px solid lightgray;
}

#add-todo-button:hover {
    background-color: green;
}

#add-bar {
    margin-bottom: 30px;
}

.todo-list-item {
    padding: 5px;
}

.clickable {
    cursor: pointer;
}

.upload-todo, .modify-todo-input {
    display: none;
}

.visible {
    display: inline-block;
}

.hidden {
    display: none;
}